<h1>Messenger</h1>

<p>Hello <%= @user.name %>!</p>
<p>Here is a link to reset your password: <%= link_to "Reset password", "/" %></p>
<p>If you didn't request this link, you may safely disregard this email.</p>


