<div class="container d-flex mt-3 w-100">
  <div class="">
    <%= gravatar_for user %>
  </div>
  <div class="p-2 flex-column">
    <h2><%= user.name %></h2>
    <%= link_to user do %>
      <p>@<%= user.username %></p>
    <% end %>
  </div>
</div>


