<% provide(:title, "Delete @#{@user.username}?") %>
<div class="container d-flex flex-column align-items-center mt-3 ">
  <h1>Are you sure you want to delete @<%= @user.username%>?</h1>
  <h2>It will be gone forever! (A very long time) </h2>
  <%= link_to "No, take me back please!", root_path, class: "btn btn-success mt-3" %>
  <%= button_to "Yes, delete my account forever!", @user, method: :delete, class: "btn btn-outline-danger btn-block mt-3" %>
</div>
