<% provide(:title, "Edit user") %>
<div class="container d-flex flex-column align-items-center mt-3 ">
  <h1>Update your profile</h1>
  <div class="gravatar_edit">
    <%= gravatar_for @user %>
  </div>
  <a href="https://gravatar.com/emails" target="_blank">Change Avatar</a>
  <%= render "users/form", action: "Update"%>
  <br>
</div>