<% provide(:title, @user.name) %>

<div class="container d-flex flex-row mt-3">
  <div>
    <%= gravatar_for @user %>
  </div>
  <div class="flex-column">
    <h2><%= @user.name %></h2>
    <p><%= @user.username %></p>
  </div>
</div>
<div class="container">
  <p><%= @user.bio %></p>
</div>
