<% provide(:title, "@#{@user.username}") %>

<div class="container d-flex flex-row mt-3">
  <%= render "users/user", user: @user %>
  <div class="mt-2 ml-3">
    <% if @user == current_user %>
      <%= link_to "Edit Account", edit_user_path(@user) %>
    <% end %>
  </div>
</div>
<div class="container">
  <p><%= @user.bio %></p>
</div>
