<% provide(:title, "Messenger: Home") %>

<div class="d-flex flex-column align-items-center">
  <p>ToDo Login form goes here</p>
  <%= link_to "Sign Up", "users/sign_up", class: "btn btn-primary"%>
</div>