<% provide(:title, "Home") %>

<div class="d-flex flex-column align-items-center">
  <% if logged_in? %>
    <%= render current_user.feed %>
  <% else %>
    <%= render "sessions/login_form" %>
  <% end %>

</div>