<% provide(:title, "Messenger: About") %>
<div class="d-flex flex-column align-items-center">
  <h1>Welcome to the Messenger!</h1>
  <p>My name is Sirojiddin Aripov.</p>
  <p>And this is my first attempt at a full-fledged application with ruby on rails.</p>
  <p>Here I use hotwire ActionCables for live message updates, with standard Rails tools to make magic happen!</p>
</div>