<div class="footer mt-auto text-center mb-4">
    <span id="bottom">
  <hr>
  <div class="d-flex justify-content-end">
    <%= link_to "About", "/about", class: "link-offset-2 link-underline link-underline-opacity-10 ml-3" %>
    <%= link_to "Contact", "#", class: "link-offset-2 link-underline link-underline-opacity-10 ml-3" %>
    <%= link_to "News", "#", class: "link-offset-2 link-underline link-underline-opacity-10 ml-3 mr-5" %>
  </div>
    </span>
</div>