<div class="list-group w-100">
  <%= link_to "Home", root_path, class: "list-group-item list-group-item-action #{"active" if page == "Home"}" %>
  <%= link_to "Users", users_path(page: 0), class: "list-group-item list-group-item-action #{"active" if page == "Users"}" %>
  <% if logged_in? %>
    <%= link_to "Profile", user_path(id: @current_user.id, page: 0), class: "list-group-item list-group-item-action #{"active" if page == "Profile"}" %>
    <%= button_to "Log out", logout_path, method: :delete, class: "list-group-item list-group-item-action " %>
  <% end %>
</div>